* {
    padding: 0;
    margin: 0;
}

body {
    color: #FFF;
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    background-color: #00BB70;
    top: 5vh;
    overflow-x: hidden;
}

.intro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    background: #BB004B;
    padding-bottom: 2.5vh;
    border: #FFF solid 7.5px;
    border-radius: 25%;
}

#title {
    padding: 2.5vh 0 1.5vh 0;
    font-size: 3em;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 12.5vh;
    scale: 2;
}

.number {
    text-align: center;
    margin: 1.75vh 0 0 0;
}

#genBtn {
    scale: 1.5;
}

#numBlob {
    justify-content: center;
    margin: auto;
    font-size: 2em;
}

#genNum {
    text-anchor: middle;
    text-align: center;
    font-size: 3em;
    fill: #FFF;
}

/*
#genNum {
    margin: 7.5vh auto 5vh auto;
    padding: 10px;
    background: #0156FE;
    font-size: 2em;
    border: #FFF solid 3.75px;
    border-radius: 25%;
}
*/